.contact-header  {
  @extend %list;
  display: flex;
}

.contact-header__item:not(:last-child){
  margin-right: 50px;
}

.contact-header__link {
  @include flexbox();
  @extend %link;
  @extend %nav-link;
  color: $primary-text-color;
  transition: color $animу-dur $timing-function;

  &:hover, &:focus{
    color: $accent-color;}

}

.contact-header__icon {
  @extend %icon;
  margin-right: 10px;
}

.contact-footer__list {
  @extend %list;
}

.contact-footer__item:not(:first-child) {
  margin-top: 9px;
} 

.contact-footer__link {
  @extend %link;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color $animу-dur $timing-function;
  
  &--adress{
    color: $primary-white-color;
  }

  &:focus {
    color: $primary-white-color;}
}

